/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

/* Frontend (1) */
a:nth-of-type(1) {
  transition: 300ms ease-in-out;
}

.animation__frontend {
  border-right: 8px solid var(--highlight-primary);
  border-bottom: 6px solid var(--highlight-primary);
}

/* Design (2) */

@keyframes stripes {
  to {
    background-size:0% 100%;
  }
}

a:nth-of-type(2) {
  background-size: 100% 100%;
}

.animation__design {
  animation: stripes 2s linear 1;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* & or Ampersand (3) */

a:nth-of-type(3) {
  transition: 300ms ease-in-out;
}

.animation__ampersand {
  transform: rotate(360deg);
}

/* Development (4) */

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animation__development {
  animation: bounce 300ms 5;
}

/* Sprint 5 (5) */

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animation__sprint-five {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) 5;
}

/* Fix (6) */

.animation__fix img {
  visibility: unset;
  transform: scale(1);
  opacity: 1;
}

a:nth-of-type(6) {
  position: relative;
}

.fix__pleister {
  width: 32px;
  transform: scale(6);
  position: absolute;
  top: 0;
  right: 0;
  transition: 150ms ease-in;
  visibility: hidden;
  opacity: 0;
}

/* The (7) */

a:nth-of-type(7) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  vertical-align: middle;
}


.kopje-thee {
  display: none;
  position: relative;
}

/* Flow (8) */

@keyframes opacity{
  0%{
      color:rgba(255,255,255,0.2);
  }
  50%{
      color: rgba(255,255,255,1);             
  }
  100%{
      color:rgba(255,255,255,0.2);
  }
}

.animation__flow {
  animation: opacity 1s 4;
}

/* User (9) */

.emoji {
  display: none;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

/* Interface (10) */ 

a:nth-of-type(10) {
  transition: 300ms ease-in-out;
}

.animation__interface {
  transform: scale(-1, 1);
}